*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a{
    text-decoration: none;
}

.topbar{
    display: flex;
    justify-content: space-between;
}

.avatar img{
    height: 100px;
    border-radius: 100%;
    padding: 10px 100px;
}

.menubar{
    display: flex;
    font-size: 25px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    text-align: center;
}

.menubar a{
    color: rgb(0, 132, 255);
    display: inline-block;
    padding: 40px 25px;
    position: relative;
}

.menubar a:hover {
    background-color:lightyellow;
    color: darkcyan;
}

.main{
    font-size: 25px;
    margin: 50px 20px 10px 10px;
}

.social a{
    diplay:inline-block;
    position: relative;
}
